@{
    ViewBag.Title = "A props ";
}
<h2>@ViewBag.Title</h2>

<p class="lead">Une Application qui est Sécurisé avec une authentification et des session utilisateur Privé qui permet a dessociétée de créer des navette ansi que a des client de s'abonner a ces derniére</p>