@{
    ViewBag.Title = "Contactez Nous";
}
<h2>@ViewBag.Title</h2>

<h1>
    Project Rélaiser dans le Cadre De Notre Project de ASP.NET MVC nous avons réaliser cette application
</h1>
<address>
    <strong>Badr KENSI:</strong>   <a href="mailto:kensi.badr@gmail.com">kensi.badr@gmail.com</a><br />
    <strong>Mouad BENBRIK:</strong> <a href="mailto:benbrikmouad@outlook.com">benbrikmouad@outlook.com</a>
</address>